# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Project code
.DS_Store
.vscode

# Dist folder
dist/*.js
dist/*.js.map

# Script Dist folder
public/js-dist/app.*.js
public/js-dist/vendor.*.js
